@model Student
<div>
    <h4>Update a student</h4>
    <form asp-action="Edit">
        <div class="form-group">
            <label asp-for="FirstName"></label>
            <input type="text" asp-for="@Model.FirstName" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="LastName"></label>
            <input type="text" asp-for="@Model.LastName" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="DateOfBirth"></label>
            <input type="date" asp-for="@Model.DateOfBirth" class="form-control" />
        </div>
        <div>
            <input class="btn btn-success" type="submit" value="Update" />
        </div>
    </form>
</div>
